/* 
 * Constants and global configurations
 */
:root {
  --accent-color: #32145a;
  --theme-color: #000000;
  --text-color: #ffffff;
}

* {
  border-radius: 2px;
}


body {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--theme-color);
  text-align: center !important;
  color: var(--text-color);
}



/* 
 * Custom styles for elements 
 */
h1 {
  font-size: 2.5em;
}

p {
  font-size: 1em;
}

.label {
  font-size: 1.5em;
}


#screen {
  display: block; 
  margin: 0 auto 0 auto;
  border: 2px solid var(--accent-color); 
  width: 50vw; 
  height: 50vh;
}


.container{
  display: flex;
  flex-direction: row;
}

.memory {
  height: 512px;
  width: 312px;
  /*overflow-y: scroll;*/
  padding: 5px;
}

.registers {
  height: 512px;
  width: 100px;
  padding: 5px;
}


.button {
  background-color: var(--accent-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  box-shadow: inset 0 0 0 1000px rgb(60,0,130);
}
.button:active {
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
}

/* Work-around to replace the built-in upload button with the generic button class */
.button input {
  opacity: 0; /* Hide the default upload button */
  cursor: pointer !important;
  overflow: hidden; /* Suggest that the empty space (of the invisible button) should not appear */
  position: absolute;
}